body {
  background: #1d1d1d;
  padding: 20px;
  font-family: monospace;
}


#inputMap {
  display:inline-block;
  vertical-align: top;
  position:absolute;
}

#inputMapContainer {
  width:255px;
  height:255px;
  display:inline-block;
  vertical-align: top;
}

#darkenInputMap {
  width:255px;
  height:255px;
  display: inline-block;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  display:none;
}

#inputMapCover {
  width:255px;
  height:255px;
  display: inline-block;
  position: absolute;
}

#inputMap2 {
  opacity:0;
}

#output {
  display:inline-block;
  background-color:#292929;
  width:255px;
  height:255px;
  margin:0px 30px;
  vertical-align: top;
  font-size:20px;
  color:white;
}

#outputColourBox {
  display:block;
  background-color:#ffffff;
  width:70px;
  height:10px;
  border-radius:15px;
}

#outputRed, #outputGreen, #outputBlue {
  background-color:white;
  border-radius:5px;
  padding:0px 3px;
}

#outputText {
  width:170px;
  padding:15px 15px;
  /*text-shadow:
    -1px -1px 0 #6f6e6e,
   1px 1px 0 #6f6e6e,
   -1px 1px 0 #6f6e6e,
    1px -1px 0 #6f6e6e;*/
}

#selectedArea {
  position: absolute;
  display:inline-block;
}

.pixelInfoBox {
  position:absolute;
  width:70px;
  height:70px;
  background-color:#333333;
  border-radius:5px;
  color:white;
  font-size:15px;
}

.pixelInfoBox p {
  margin:3px 4px;
}

textarea:hover,
textarea:active,
textarea:focus,
textarea
{
    outline:0px !important;
    -webkit-appearance:none;
    border:none;
    font-family:Consolas,"lucida console","Courier New" ;
}

#variables {
  width:225px;
  height:130px;
  margin:15px 15px;
}

#rgbContainer {
  width:225px;
  height:100px;
  margin:10px 15px;
}

#rgbTitle {
  width:153px;
  height:20px;
  display:inline-block;
  margin:0px 0px 0px 5px;
  padding:8px 0px;
}

#customColourViewer {
  width:64px;
  height:20px;
  background-color:white;
  display:inline-block;
}

.colourChoice {
  width:64px;
  height:35px;
  display:inline-block;
  background-color:rgba(0, 0, 0, 0.5);
  border:none;
  color:white;
  text-align:center;
  resize:none;
  font-size:27px;
  vertical-align: top;
}

.comma {
  width:10px;
  height:35px;
  display:inline-block;
  margin:0;
  padding:8px 0px;
  vertical-align: top;
}

#fillCommands {
  width:255px;
  height:255px;
  background-color:#383838;
  display:inline-block;
  color:white;
  margin:0px 30px;
}

#fCTitle {
  width:255px;
  height:35px;
  background-color: #383838;
}

#fCTitle p {
  text-align: center;
  margin:0;
  padding:5px;
  font-size:20px;
}

.fCommand {
  width:255px;
  height:62px;
  position: relative;
}

.fCommandTitle {
  width:255px;
  height:24px;
}

.fCommandTitle p {
  text-align: center;
  margin:0;
  padding:5px;
  font-size:14px;
}

.rangeContainer {
  width:160px;
  height:34px;
  margin-left:48px;
}

.range {
  width:70px;
  height:34px;
  display:inline-block;
  background-color:rgba(0, 0, 0, 0.5);
  border:none;
  color:white;
  text-align:center;
  resize:none;
  font-size:27px;
  vertical-align: top;
}

#fillButton {
  width:255px;
  height:30px;
  background-color:#4a4a4a;
  margin-top:5px;
  cursor:pointer;
}

#fillButton:hover {
  background-color:#676767;
}

#fillButton p {
  text-align: center;
  margin:0;
  padding:3px;
  font-size:24px;
}

.fCommandOverlay {
  width:255px;
  height:62px;
  background-color:rgba(0, 0, 0, 0.51);
  position:absolute;
  top:0px;
  cursor:pointer;
}

.fCommandOverlay:hover {
  background-color:rgba(0,0,0,0.3);
}
