body {
  position: relative;
  margin:0;
  padding:0;
}

#setTypeContainer {
  border: 5px solid #79c9c6;
  margin: 30px;
  height: 80px;
  vertical-align: top;
}

.setType {
  height:80px;
  width:300px;
  display:inline-block;
  background-color:#142644;
  cursor:pointer;
}

.setType:hover {
  background-color:#182960;
}

.setType p,.resultButton p {
  font-family: Consolas;
  font-size: 40px;
  color:white;
  text-align: center;
  margin:0;
  padding:13px;
}

#setButton {
  float:left;
}

#setAnalog {
  float:right;
}

#main {
  border : 5px solid #79c9c6;
  margin: 30px;
  height:460px;
}

#bigMain {

}

#analogContainer, #buttonContainer {
  width:400px;
  height:400px;
  display:inline-block;
  margin-top:30px;
}

#analogContainer {
  float:right;
  margin-right: 30px;
}

#resultInfo {
  width:300px;
  height:400px;
  position:absolute;
  display: inline-block;
  left:50%;
  margin-left:-150px;
  z-index:5;
}

.resultInfoTitle {
  width:300px;
  height:40px;
}

.resultInfoTitle p {
  color:white;
  font-family: Consolas;
  font-size:24px;
  text-align: center;
  margin:0;
  padding:10px;
}

#bigTitle {
  height:50px;
}

#smallTitle {
  height : 30px;
}

#sdiAmount, #distAmount, #sdiInputAmount {
  width:300px;
  height:25px;
}

#sdiAmount p, #distAmount p, #sdiInputAmount p {
  color:white;
  font-family: Consolas;
  font-size:16px;
  text-align: center;
  margin:0;
  padding:5px;
}

#buttonContainer {
  float:left;
  margin-left:30px;
  margin-top:70px;
}

.button {
  width:100px;
  height:100px;
  border-radius:100px;
  background-color:#ffe763;
  border: 5px solid #c57623;
  margin:10px;
  display: inline-block;
}

#buttonup {
  margin:10px 145px;
}

.pressed {
  background-color:#e33737;
}

#analog {
  width: 300px;
  height:300px;
  background-color:rgba(255,255,255,0.3);
  position:relative;
}

#analogCircle {
  width:300px;
  height:300px;
  background-color:rgba(255,255,255,0.3);
  border-radius:300px;
  position:absolute;
  display: inline-block;
}

#analogPointer {
  width:20px;
  height:20px;
  background-color:#8f2020;
  border-radius:20px;
  position:absolute;
  display:inline-block;
  top:140px;
  left:140px;
}

#analogValues {
  width: 300px;
  height:80px;
}

.analogVal {
  width: 260px;
  height:30px;
  margin:15px 20px;
  font-family: Consolas;
  font-size:30px;
  color:white;
}

.analogVal p {
  margin:0;
}

#resultsContainer {
  height:250px;
  border: 5px solid #79c9c6;
  margin: 30px;
  position: relative;
}

.results {
  height:230px;
  width: 350px;
  background-color:rgba(0,0,0,0.2);
  display:inline-block;
  font-size:15px;
  padding:10px;
  font-family: Consolas;
  color:white;
  overflow-y:scroll;
}

.sdi {
  color:#ff9e9e;
}

#buttonResults {
  float:left;
}

#analogResults {
  float:right;
}

#resultButtons {
  display:inline-block;
  position:absolute;
  width:250px;
  height:230px;
  top:50%;
  left:50%;
  margin-top:-115px;
  margin-left:-125px;
}

.resultButton {
  width:250px;
  height:70px;
  background-color:#142644;
  cursor:pointer;
  margin-top:15px;
}

.resultButton:hover {
  background-color:#182960;
}

#promptContainer {
  width:100%;
  height:100%;
  position:fixed;
  background-color: rgba(0,0,0,0.5);
  z-index:10;
  display:inline-block;
  top:0;
  vertical-align: top;
  display:none;
}

#promptText {
  width:400px;
  height:80px;
  top:50%;
  left:50%;
  position:relative;
  margin-top:-40px;
  margin-left:-200px;
  background-color: black;
}

#promptText p {
  font-family: Consolas;
  font-size:30px;
  margin:0;
  text-align: center;
  color:white;
  padding:20px;
}