* {
  margin:0;
  vertical-align: top;
}

body {
  overflow-y:hidden;
}

textarea:hover,
textarea:active,
textarea:focus,
textarea
{
    outline:0px !important;
    -webkit-appearance:none;
}

#ptitle {
  display:inline-block;
}

#credits {
  font-size:12px;
  display:inline-block;
  margin:23px 0px 0px 10px;
}

#main-content {
  background-color: rgba(0, 0, 0, 0.3);
  width:1200px;
  height:700px;
  height:100%;
}

#winpercentTitle, #resultsTitle {
  background-color:rgba(255, 255, 255, 0.15);
  height:60px;
  text-align: center;
}

#winpercentTitle p, #resultsTitle p {
  font-size:40px;
  font-weight:bold;
  padding:7px;

}

#modeContainer {
  height:60px;
  width:192px;
  display:inline-block;
  left:0px;
  position:absolute;
}

#modeTitle {
  height:60px;
  width:50px;
  display:inline-block;
}

#modeTitle p {
  padding:20px 5px;
  font-size:15px;
}

#modes {
  height:60px;
  width:142px;
  display:inline-block;
}

.mode {
  display:inline-block;
  height:46px;
  width:62px;
  background-color:rgba(0, 155, 204, 0.0);
  opacity:0.2;
  cursor:pointer;
  border:2px solid white;
  border-radius:5px;
  margin:6px 5px 0px 0px;
}

.mode:hover {
  opacity:0.8;
  background-color:rgba(161, 54, 219, 0.54);
}

.activemode {
  opacity:1;
  background-color:#a136db;
}

#mode0 p, #mode1 p {
  font-size:16px;
  padding:4px;
}

#inputSelectors {
  width:1000px;
  height:160px;
  background-color: rgba(0, 0, 0, 0.13);
}

#stages, #inputs {
  display:inline-block;
}

.stageContainer {
  width:160px;
  height:150px;
  display:inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  margin:10px;
}

.stageTitle {
  width:160px;
  height:30px;
}

.stageTitle p {
  font-size:15px;
  text-align:center;
  font-weight:800;
  padding:5px;
}

.stagePic {
  height:49px;
  width:62px;
  border-radius:7px;
  border:2px solid #b4b4b4;
  margin:0px 49px;
}

.stagePercent {
  width:85px;
  height:60px;
  display: inline-block;
}

.inputContainer {
  width:200px;
  height:120px;
  display:inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  margin:10px;
}

.inputTitle {
  width:200px;
  height:60px;
}

.inputTitle p {
  font-size:25px;
  text-align:center;
  font-weight:800;
  padding:5px;
}

.smalltext {
  font-size:15px;
  font-weight:normal;
}

.inputPercent {
  width:125px;
  height:60px;
  display: inline-block;
}

.percent {
  width:125px;
  height:60px;
  padding:0;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  color:white;
  text-align:right;
  font-size:50px;
  resize:none;
}

.sPercent {
  width:85px;
}

.percentIcon {
  width:30px;
  height:60px;
  display:inline-block;
  vertical-align: top;
  margin-right:5px;
}

.percentIcon p {
  font-size:50px;
  margin-top:2px;
}

.percentButtonContainer {
  width:40px;
  height:60px;
  display:inline-block;
  vertical-align: top;
}

.percentButton {
  width:40px;
  height:30px;
  background-color:rgba(0, 0, 0, 0);
  cursor:pointer;
  vertical-align: top;
  position:relative;
}

.percentButton p {
  vertical-align: top;
  font-size:30px;
  text-align:center;
  position:relative;
  top:-5px;
}

.percentButton:hover {
  background-color:rgba(255, 255, 255, 0.44);
}

#repickContainer {
  width:170px;
  height:160px;
  display:inline-block;
  background-color: rgba(0, 0, 0, 0.4);
  float:right;
  vertical-align: top;
}

.repickButtonContainer {
  width:170px;
  height:50px;
  position:relative;
}

#repickTitle {
  width:170px;
  height:50px;
}

#repickTitle p {
  font-size:30px;
  text-align: center;
  font-weight: 800;
  padding:10px;
}

.repickButtonTitle {
  display:inline-block;
  width:120px;
  height:50px;
}

.repickButtonTitle p {
  font-size:23px;
  padding:13px 8px;
}

.repickButtonAnswer {
  display:inline-block;
  width:50px;
  height:50px;
}

.repickButtonAnswer p {
  font-size:35px;
  padding:0px 5px;
}

.repickReal {
  width:170px;
  height:50px;
  position:absolute;
  cursor:pointer;
  top:0px;
}

.repickReal:hover {
  background-color: rgba(255, 255, 255, 0.23);
}

#bo3Container {
  width:40%;
  height:300px;
  background-color: rgba(0, 0, 0, 0.4);
  display:inline-block;
}

#bo5Container {
  width:59.9%;
  height:300px;
  background-color: rgba(0, 0, 0, 0.4);
  display:inline-block;
}

.boTitle {
  width:100%;
  height:60px;
}

.boTitle p {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding:10px;
}

.winlose {
  width:320px;
  height:120px;
  margin-left:90px;
}

.wl {
  width:160px;
  height:110px;
  display:inline-block;
  background-color: rgba(0, 0, 0, 0.4);
}

.wl p {
  font-size:40px;
  padding:5px;
  text-align: center;
}

.wltop, .wlbottom {
  height:55px;
  width:160px;
}

.wltopleft {
  height:55px;
  width:50px;
  display:inline-block;
}

.wltopleft p {
  font-size:15px;
  text-align: right;
  padding-top:20px;
}

.wltopright {
  height:55px;
  width:110px;
  display:inline-block;

}

.wltopright p{
    text-align:left;
}

.setDetails {
  width:auto;
  height:80px;
  margin-left:50px;
}

.set {
  width:100px;
  height:80px;
  display:inline-block;
  background-color: rgba(0, 0, 0, 0.4);
}

.set p {
  font-size:30px;
  text-align: center;
}

.settop {
  width:100px;
  height:30px;
}

.setmiddle {
  width:100px;
  height:10px;
}

.setmiddleleft, .setmiddleright {
  width:50px;
  height:10px;
  display:inline-block;
  font-size:7px;
  text-align: center;
}

.setmiddleleft p, .setmiddleright p {
  font-size:7px;
  padding-top:3px;
}

.setmiddleleft p{
  text-align:right;
  padding-right:11px;
}

.setmiddleright p {
  text-align: left;
  padding-left: 5px;
}

.setbottom {
  width:100px;
  height:40px;
}
