
#controllerdisplay {
	position:relative;
	width:720px;
	height:620px;
}

#controllerdisplay img {
	position:absolute;

}

.lstickf {
	height:41px;
	width:41px;
	position:absolute;
	background-image:url(assets/buttons/lsstick.png);
	filter: brightness(1);
	-webkit-filter: brightness(1);
	top: 15px;
  left: 15px;
}
.cstickf {
	height:31px;
	width:31px;
	position:absolute;
	background-image:url(assets/buttons/csstick.png);
	filter: brightness(1);
	-webkit-filter: brightness(1);
	top: 20px;
  left: 20px;
}

.stickfhighlight {
	filter: brightness(1.2);
	-webkit-filter: brightness(1.2);
}

#i-ss {
	top:277px;
	left:343px;
	opacity:0.35;
}

.dpad {
	top:402px;
	left:201px;
	opacity:0.35;
}
#i-cs {
	top:416px;
	left:442px;
}
#i-xx {
	left:629px;
	top:240px;
	opacity:0.35;
}
#i-yy {
	left:515px;
	top:190px;
	opacity:0.35;
}
#i-aa {
	left:534px;
	top:252px;
	opacity:0.35;
}
#i-zz {
	left:659px;
	top:100px;
	opacity:0.2;
}
#i-bb {
	left:471px;
	top:310px;
	opacity:0.35;
}
#i-rr {
	left:544px;
	top:43px;
	opacity:0.2;
}
#i-ll {
	left:102px;
	top:43px;
	opacity:0.2;
}
#i-ls {
	left:96px;
	top:252px;
}
#i-lb {
	left:60px;
	top:108px;
}
#i-rb {
	left:536px;
	top:108px;
}
#i-zb {
	left:534px;
	top:123px;
}


#buttondropdown {
	width:400px;
	height:210px;
	position:absolute;
	background-color:#262626;
	left:100px;
	z-index:5;
}

#timelinetitle {
	line-height:0px;
	vertical-align: top;
}

.buttonselect {
	height:70px;
	width:100px;
	display:inline-block;
	background-color:#262626;
}

.buttonselecthighlight {
	background-color:#4a4a4a;
}

.greyedout {
	background-color:#000000;
}

#tlgame {
	margin:10px;
	line-height:0px;
}

#tltext {
	display:inline-block;
	margin:20px 20px 10px 5px;
	line-height:0px;
	vertical-align: top;
}

#tlchar {
	display:inline-block;
	margin-right:10px;
	width:26px;
	height:26px;
	line-height:0px;
}

#tlname {
	font-family:'Share Tech Mono';
	font-size:23px;
	line-height:0px;
}

#maincontrols {
	background-color: #3c3c3c;
	height:50px;
}

#maincontrols form {
	display:inline-block;
	margin:15px 15px;
}

#maincontrols p {
	display:inline-block;
	margin:15px 15px;
}

.error {
	border:2px solid red;
}

.editbutton {
	vertical-align: top;
	background-color:#4f4f4f;
	color:white;
	width:90px;
	height:50px;
	display:inline-block;
	cursor:pointer;
}

.editbuthighlight {
	background-color:#2b2b2b;
}

#timelinebigcontainer {
	position:relative;
	display:inline-block;
	width:420px;
	height:600px;

}

#scrollbox {
		width:500px;
		overflow-x:auto;
		position:relative;
}

#timelinebigcontainer div {
	line-height:0px;
}

#timelinescontainer {
	display:inline-block;
	width:400px;
}

.timeline {
	display:inline-block;
	height:72px;

}
.tlex {
	display:inline-block;
	height:22px;

}

#tline {
	display:inline-block;
	height:240px;
	width:3px;
	background-color:blue;
	position:absolute;;
	top:0px;
	left:103px;
	margin:0px;
	z-index:4;
}

.tlexkey {
	display:inline-block;
	height:20px;
	width:100px;
	background-color:transparent;
	border:1px solid black;
	cursor:pointer;
	vertical-align: top;
}

.tkey {
	display:inline-block;
	height:70px;
	width:100px;
	background-color:#4a4a4a;
	border:1px solid black;
	cursor:pointer;
}

.tkeyhighlight {
	background-color:#262626;
}

.dropdowned {
	background-color:#262626;
}
#playkey {

	display:inline-block;
	height:70px;
	width:100px;
	border:1px solid black;
	cursor:pointer;
}





.playmode {
	background-color:#777777;
	background-image:url(assets/buttons/play.png);
}

.pausemode {
	background-color:#777777;
	background-image:url(assets/buttons/stop.png);
}

.playkeyhighlight {
	background-color:#343635;
}


#playcontrols {
	background-color:#777777;
	display:inline-block;
	height:25px;
	width:100px;
	border:1px solid black;
	cursor:pointer;
}

.playbutton {
	background-color:#777777;
	line-height:0px;
	vertical-align:middle;
	text-align:center;
	font-size:10px;
	display:inline-block;
	height:23px;
	width:22px;
	border:1px solid black;
	cursor:pointer;
}

#loop {
	padding-left:2px;
	padding-right:1px;
}

.playbuttonhighlight {
	background-color:#343635;
}

.playbuttonhighlight2{
	background-color:black;
}
.tlexf {
	display:inline-block;
	height:20px;
	width:70px;
	background-color:#333333;
	border:1px solid black;
	cursor:pointer;
	position:relative;
}

.tframe {
	display:inline-block;
	height:70px;
	width:70px;
	background-color:white;
	border:1px solid black;
	cursor:pointer;
	position:relative;
}

.tframehighlight {
	margin:25px;
	height:20px;
	width:20px;
	background-color:#9e9e9e;
	border-radius:10px;
}

.tnum {
	display:inline-block;
	height:30px;
	width:70px;
	background-color:#777777;
	border:1px solid black;
	text-align:center;
	vertical-align:top;

}

.tnum p {
	margin:3px 3px;
	color:white;
	font-size:20px;
	line-height:normal;
}

.type0 {
	background-color:black;
}

.type1 {
	background-color:white;
}

.type2 {
	background-color:#333333;
}

.stickprevious {
	height:20px;
	width:25px;
	display:inline-block;
	background-image:url(assets/copyprev.png);
}

.sticknext {
	height:20px;
	width:25px;
	display:inline-block;
	background-image:url(assets/copynext.png);
}

.stickreset {
	height:20px;
	width:20px;
	display:inline-block;
	font-size:10px;
	background-image:url(assets/reset.png);
}

.stickexcontrolhighlight {
	background-color:#555555;
}
